body{
    background-image: url("Background_image.svg");
    background-color: #121826;
    font-family: "Outfit", sans-serif;
    color: rgba(255, 255, 255, 0.74);
   display: grid;
    justify-content: center;
}

  .div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .div2{
    display: flex;
   
    justify-content: center;
    align-items: center;
  }

  .h2 {
    background: #8a57ea96;
    border-radius: 20px;
    padding: 20px;
}

input{
  
  all: unset;
  border: solid 2px #e1e2e4b9;
  padding: 10px;
  border-radius: 20px;
  width: 90%;
  
}


.calcular{

   background: #121826a9;
   border-radius: 20px;
   
 
}

#btn{
  all:unset ;
  background: #123588b9;
  border-radius: 20px;
  padding: 10px;
  width: 60%;
  text-align: center;
}


#ss{
  display: none;

}

#Tranformar {  
  background: none; /* Sin fondo */  
  border-bottom: 2px solid rgba(255, 255, 255, 0.76); /* Borde inferior de 2px sólido y blanco */  
  border-top:none; /* Borde superior de 3px sólido (deberías especificar el color) */  
  border-left: none; /* Borde izquierdo de 3px sólido (deberías especificar el color) */  
  border-right: none; /* Borde derecho de 3px sólido (deberías especificar el color) */  
  font-size: 1.5em; /* Tamaño de fuente */  
  font-weight: bold; /* Texto en negrita */  
  line-height: 1.2; /* Altura de línea */  
  margin: 0.67em 0; /* Márgenes superior e inferior */  
  color: inherit; /* Hereda el color del texto del elemento padre */  
}
#Tranformar:focus{
  border-bottom: 2px solid rgb(84, 30, 170);
  border-top: none;
  border-left: none;
  border-right: none;
  transition: 1s;
  outline: none;
  
}
#Tranformar-items{
  background: black;
  padding: 20px;
}

option{
  color: #121826;
}

